@media screen and (max-width: 1200px) {
  .container {
    width: 1070px;
  }

  /*------------------------------------HERO----------------------------------------*/


.hero-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
}

}
