@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  /* header + hero */

  .header > .container {
    max-width: 480px;
    width: 100%;
  }

  .hero > .container {
    max-width: 480px;
    width: 100%;

  }

  /* about */

  .about > .container {
    max-width: 418px;
    width: 100%;
  }
  /* count */

  .count > .container {
    max-width: 418px;
    width: 100%;
  }

  /* barbers */
  .barbers-photos-gallery > .container {
    max-width: 448px;
    width: 100%;
  }

  .gallery > .container {
    max-width: 480px;
    width: 100%;
  }
  .benefits > .container {
    max-width: 448px;
    width: 100%;
  }

  /* booking  */

  .online > .container {
    max-width: 480px;
    width: 100%;
  }

  .contacts > .container {
    max-width: 418px;
    width: 100%;
  }

  /* footer */

  .footer > .container {
    max-width: 380px;
    width: 100%;
  }
}
