@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  /* count */

  .count > .container {
    max-width: 418px;
    width: 100%;
  }

  /* barbers */
  .barbers-photos-gallery > .container {
    max-width: 448px;
    width: 100%;
  }

  .gallery > .container {
    max-width: 480px;
    width: 100%;
  }
  .benefits > .container {
    max-width: 448px;
    width: 100%;
  }
}
