@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  /* header + hero */

  /* about */


  /* count */

  

  /* barbers */



 
  /* booking  */




  /* footer */

  .footer > .container {
    max-width: 380px;
    width: 100%;
  }
}
