body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.btn {
  min-width: 160px;
  min-height: 40px;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  border: 1px solid var(--focus-color);
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 25px;
  transition: background-color 300ms linear, color 300ms linear;
}
.btn:hover,
.btn:focus {
  background-color: var(--focus-color);
  color: var(--title-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* width: 1200px; */

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* text-align: center;
  max-width: 318px;
  margin: 0 auto;
  padding: 0 15px; */
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --title-color: #ffffff;
  --pretitle-color: #9da4bd99;
  --text-color: #9da4bd;
  --focus-color: #ff6c00;
  --second-text-color: #303030;
  --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pretitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
}
/* ----------------------------------------------------------------------------header----------------------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header > .container {
  display: flex;
  align-items: center;
  padding-right: 32px;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navlogo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-item {
}
.header-link {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  transition: color 300ms linear;
}

/* .header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ff6c00;
  left: 0;
  bottom: -10px;
  border-radius: 2px;
} */

.header-link:hover,
.header-link:focus {
  color: var(--focus-color);
}
.header-tel {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: var(--title-color);
  margin-right: 30px;
}
.header-btn {
  color: var(--title-color);
}
/* ---------------------------------------------------------------------- hero------------------------------------------------------------------- */
.hero {
}

.hero > .container {
  display: flex;
}
.hero-soc-wrap {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}
.hero-soc-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
  align-items: center;
}

.hero-soc-list::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.hero-wrap {
  flex-grow: 1;
  padding-top: 272px;
  padding-left: 100px;
  padding-bottom: 208px;
  padding-right: 100px;
  background-image: var(--bg-gradient), url(../images/Hero-desctope.jpg);
  background-position: center;
  background-size: cover;
}
.hero-pretitle {
  text-transform: uppercase;
  color: var(--pretitle-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-pretitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
  text-align: left;
  color: var(--title-color);
}
.hero-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.02em;
  max-width: 360px;
  color: var(--text-color);
}
.hero-soc {
}
.hero-soc-list {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-soc-item {
}

.hero-soc-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.hero-soc-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
  transition: color 300ms linear;
}
.hero-soc-link:hover,
.hero-soc-link:focus {
  color: var(--focus-color);
}

/* ---------------------------------------------------------------------------------about ------------------------------------------------------------*/
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about > .container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}

.about-wrap {
  max-width: 470px;
}
.about-item {
}
.about-image {
}
.about-pre-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-text-color);
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.about-title {
  font-family: "Raleway", serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-align: left;

  margin-bottom: 20px;
}
.about-after-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-button {
  color: var(--second-text-color);
}

/* -----------------------------------------------------count----------------------------------- */
.count {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: black;
  background-image: url(../images/price.png);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.count-wrap {


  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  /* gap: 30px;
  margin-bottom: 44px; */
}
.count-list {
  /* background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%); */
  /* width: calc((100% - 30px) / 2); */
  /* padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px; */
}
/* .count-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.count-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
} */

.count-pretitle {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--pretitle-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.count-pretitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.count-title {
  margin-bottom: 44px;
  color: var(--title-color);
}

.count-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.count-item::before {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: var(--text-color);
  flex-grow: 1;
}
.count-item + .count.item {
  margin-top: 10px;
}
.count-service:first-child {
  order: -1;
}

.count-service {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.count-price {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.count-btn {
  color: var(--title-color);
  display: block;
  margin: 0 auto;
}

/* ------------------------------------------------------benefits -----------------------------------------------------------------------*/
.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
}
.benefits-list {
  display: flex;
  width: 416px;
  flex-wrap: wrap;
}

.benefits > .container {
  display: flex;
}
.benefits-count {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--second-text-color);
}
.benefits-count::after {
  position: absolute;
  text-align: center;
  content: "+";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  top: 7px;
  color: var(--focus-color);
}
.benefits-wrap {
  width: 418px;
}
.benefits-text {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
  color: var(--second-text-color);
}
.benefits-pre-title {
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #303030;
  display: flex;
  align-items: center;
  gap: 20px;
}

.benefits-pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.benefits-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--second-text-color);
}
.benefits-after-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.02em;
  text-align: left;
  color: #555555;
}

.benefits-item .benefits-count {
  position: relative;
}

.benefits-item {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  width: 193px;
  height: 130px;
  background-color: #f7f7f7;
  text-align: center;
  display: block;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-count-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  row-gap: 30px;
}
/* ---------------------------------------------gallery------------------------------------------------*/
.gallery {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
}
.gallery-pretitle {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.gallery-pretitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.gallery-title {
  margin-bottom: 44px;
  color: var(--second-text-color);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-item {
  /* width: calc((100% - 60px) / 3); */
}
.gallery-image {
}

.gallery-item:hover .gallery-top-text {
  transform: translateY(0);
}

.gallety-text-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-top-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--title-color);
  padding: 40px;
  background-color: var(--focus-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.list {
}
.barbers-soc-item {
  width: 44px;
  height: 44px;
}
.barbers-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 300ms linear;
}
.link {
}

.barbers-soc-icon:hover,
.barbers-soc-icon:focus {
  fill: var(--focus-color);
}
/* -----------------------------------------------------barbers photos -----------------------------------------------------*/
.barbers-name {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-align: center;
}
.barbers-after-title {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--focus-color);
}

.barbers-photos-gallery {
  padding-top: 84px;
  padding-bottom: 84px;
}

.barbers-text {
  margin-bottom: 71px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.barbers-text::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.barbers-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* ---------------------------------------------------------------------booking ----------------------------------------------------*/

.online {
  padding-top: 130px;
  padding-bottom: 120px;
  padding-right: 30px;
  width: calc(50% + 15px);
}

.online-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.online-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.online-input {
  width: 270px;
  height: 24px;
  padding-bottom: 8px;
}

.online-text {
  width: 100%;
  height: 76px;
  resize: none;
}

.online-item {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  margin-bottom: 44px;
  color: #f7f7f7;
  transition: border-color 300ms linear;
}

.online-item::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 300ms linear;
}

.online-item:focus {
  border-color: #ffffff;
}

.online-item:focus::placeholder {
  color: #ffffff;
}

.online-btn {
  color: var(--first-btn-color);
}

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contact-wrap {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
}
.contact-wrap > .container {
  display: flex;
}
.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}
.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link.bold {
  font-weight: 700;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ---------------------------------------------------------------footer ---------------------------------------------------------------*/
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer > .container {
  display: flex;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
}
.copy {
  width: 12px;
  height: 12px;
  color: var(--text-color);
}
.copy-text {
  display: flex;
  margin-right: auto;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--text-color);
}
.footer-social-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer-social-item {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
  transition: color 300ms linear;
}

.footer-social-item:hover,
.footer-social-item:focus {
  color: var(--focus-color);
}

.footer-social-list:before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

/* backdrop */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: #03020261;
  position: fixed;
  top: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  min-height: 350px;
  background-color: #ffffff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 300ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: #9da4bd;
  border-radius: 50%;
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-icon {
  fill: #ffffff;
}
.modal-title {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--second-text-color);
}

.modal-button {
  display: block;
  margin-left: 65px;
}
.modal-input {
  margin-bottom: 10px;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 1px solid var(--second-text-color);
  border-radius: 5px;
  font-size: 12px;
  color: #555555;
  padding-left: 15px;
  transition: border 300ms linear;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--focus-color);
}

.modal-input::placeholder {
  font-size: 14px;
  color: #555555;
}

.modal-input:not(:placeholder-shown):not(:focus):valid {
  background-color: var(--pretitle-color);
}

.input-text {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
}
