body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.btn {
  min-width: 160px;
  min-height: 40px;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  border: 1px solid var(--focus-color);
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 25px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid #ff6c00;
  margin: 0 auto;
  /* text-align: center;
  max-width: 318px;
  margin: 0 auto;
  padding: 0 15px; */
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --title-color: #ffffff;
  --pretitle-color: #9da4bd99;
  --text-color: #9da4bd;
  --focus-color: #ff6c00;
  --second-text-color: #303030;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pretitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
}
/* ----------------------------------------------------------------------------header----------------------------------------------------------------------------------- */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header > .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navlogo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-item {
}
.header-link {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-link:hover,
.header-link:focus {
  color: var(--focus-color);
}
.header-tel {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: var(--title-color);
  margin-right: 30px;
}

/* ---------------------------------------------------------------------- hero------------------------------------------------------------------- */
.hero {
}

.hero > .container {
  display: flex;
}

.hero-wrap {
  background-color: yellowgreen;
  flex-grow: 1;
  padding-top: 272px;
  padding-left: 100px;
  padding-bottom: 208px;
  padding-right: 100px;
}
.hero-pretitle {
  text-transform: uppercase;
  color: var(--pretitle-color);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
  text-align: left;
  color: var(--title-color);
}
.hero-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.02em;
  max-width: 360px;
  color: var(--text-color);
}
.hero-soc {
}
.hero-soc-list {
  width: 100px;
}
.hero-soc-item {
}
.hero-soc-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}
.hero-soc-link:hover,
.hero-soc-link:focus {
  color: var(--focus-color);
}

/* ---------------------------------------------------------------------------------about ------------------------------------------------------------*/
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about > .container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}

.about-wrap {
  max-width: 470px;
}
.about-item {
}
.about-image {
}
.about-pre-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-text-color);
}
.about-title {
  font-family: "Raleway", serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-align: left;

  margin-bottom: 20px;
}
.about-after-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-button {
  color: var(--second-text-color);
}

/* -----------------------------------------------------count----------------------------------- */
.count {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: lightsteelblue;
}

.count-wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
.count-list {
  border: 1px solid red;
  width: calc((100% - 30px) / 2);
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}
.count-pretitle {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--pretitle-color);
}
.count-title {
  margin-bottom: 44px;
  color: var(--title-color);
}

.count-item {
  display: flex;
  justify-content: space-between;
}

.count-item + .count.item {
  margin-top: 20px;
}
.count-service {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.count-price {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.count-btn {
  color: var(--title-color);
  display: block;
  margin: 0 auto;
}
/* ------------------------------------------------------benefits -----------------------------------------------------------------------*/
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits-list {
}
.benefits-count {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--second-text-color);
}
.benefits-text {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
  color: var(--second-text-color);
}
.benefits-pre-title {
  margin-bottom: 20px;
  color: #303030;
}
.benefits-title {
  margin-bottom: 20px;
  color: var(--second-text-color);
}
.benefits-after-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.02em;
  text-align: left;
  color: #555555;
}

/* ---------------------------------------------gallery------------------------------------------------*/
.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}
.gallery-pretitle {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-text-color);
}
.gallery-title {
  margin-bottom: 44px;
  color: var(--second-text-color);
}
.gallery-list {
  display: flex;
  gap: 30px;
}
.gallery-item {
  width: calc((100% - 60px) / 3);
}
.gallery-image {
}

/* -----------------------------------------------------barbers photos -----------------------------------------------------*/
.barbers-name {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-align: center;
}
.barbers-after-title {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--focus-color);
}
.barbers-photos {
}
.barbers-text {
  margin-bottom: 44px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
  color: var(--second-text-color);
}
.barbers-list {
  display: flex;
  gap: 30px;
}
.barbers-item {
  width: calc((100% - 90px) / 4);
}

/* ---------------------------------------------------------------------booking ----------------------------------------------------*/
.booking {
}

.booking-title {
  color: var(--title-color);
}

/* contacts */
.contacts {
}
.contacts-title {
  color: var(--title-color);
}
.address {
}
.address-list {
}
.address-item {
}
.adress-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.hours-title {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0em;
  color: var(--title-color);
}
.schedulle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
}

/* ---------------------------------------------------------------footer ---------------------------------------------------------------*/
.footer {
}
