body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  text-align: center;
  max-width: 318px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
/* header */
.header {
}
.navigation {
}
.navlogo {
}
.header-list {
}
.header-item {
}
.header-link {
}
.header-tel {
}
.header-soc {
}
.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
}

/* hero */
.hero {
}
.hero-pretitle {
}
.hero-title {
}
.hero-text {
}

/* about */
.about {
}
.about-list {
}
.about-item {
}
.about-image {
}
.about-pre-title {
}
.about-title {
}
.about-after-title {
}
.about-text {
}
.about-button {
}

/* count */
.count {
}
.count-pretitle {
}
.count-title {
}
.count-list {
}
.count-item {
}
.count-service {
}
.count-price {
}

/* benefits */
.benefits {
}
.benefits-list {
}
.benefits-count {
}
.benefits-text {
}
.benefits-pre-title {
}
.benefits-title {
}
.benefits-after-title {
}

/* gallery */
.gallery {
}
.gallery-pretitle {
}
.gallery-title {
}
.gallery-list {
}
.gallery-item {
}
.gallery-image {
}

/* barbers photos */
.barbers-name {
}
.barbers-after-title {
}
.barbers-photos {
}
.barbers-text {
}
.barbers-list {
}
.barbers-item {
}

/* booking */
.booking {
}
.contacts {
}
.contacts-title {
}
.address {
}
.address-list {
}
.address-item {
}
.adress-link {
}
.hours-title {
}
.schedulle {
}

/* footer */
.footer {
}
