@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  .menu-open {
    display: none;
  }
  .logo {
    stroke: black;
  }
  .header > .container {
    max-width: 555px;
    width: 100%;
  }

  .header {
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 20px;
  }

  .header-item {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: var(--title-color);
  }

  .header-item:hover,
  .header-item:focus {
    color: var(--focus-color);
  }

  .header-button-wrap {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .header-bottom-menu {
    display: flex;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .hero > .container {
    max-width: 690px;
    width: 100%;
  }

  .hero {
    display: flex;
    padding: 0;
  }

  .hero-wrap {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    background-image: var(--bg-gradient), url(../images/hero-tablet-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--bg-gradient), url(../images/hero-tablet-2x.jpg);
    }
  }
}

/* @media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }




.menu-open {
    display: none;
  }

  .mob-menu {
    display: none;
  }


  .header > .container {
    max-width: 680px;
    width: 100%;
    display: flex;
  }

.header-list {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.1em;
    display: flex;
    gap: 10px;
  }

  .header-tel {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;


  }
  .header-btn {
    display: block;
    color: #ffffff;
  }

  .hero-soc-wrap {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }

  .hero > .container {
    max-width: 690px;
    width: 100%;
  }

  .hero-wrap {
    padding: 210px 10px;
    background-image: var(--bg-gradient), url(../images/hero-tablet-jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--bg-gradient), url(../images/hero-tablet-2x.jpg);
    }
  }

  .navlogo {

    display: block;
    margin-left: 0;
  
    fill: #ffffff;
  }

  .header-button-wrap {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 15px;
  }

.about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about > .container {
    max-width: 690px;
    width: 100%;
  }

  .about-list {
    display: flex;
    gap: 20px;
  }
  .about-title {
    width: 330px;
  }
  .about-after-title {
    width: 330px;
    margin-bottom: 20px;
    color: #555555;
  }
  .about-text {
    margin-bottom: 20px;
    width: 330px;
  }

  .about-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

 .about-container-wrap {
    display: flex;
  }


  .count > .container {
    max-width: 768px;
    width: 100%;
  }

  .count {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .count-item + .count.item {
    margin-top: 20px;
  }

  .count-wrap {
    width: 703px;
    margin-bottom: 20px;
  }

  .benefits > .container {
    max-width: 689px;
    width: 100%;
  }

  .benefits {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .benefits-after-title {

  }

  .benefits-item {
    width: 210px;
    height: 130px;
  }
  .benefits-item {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    width: 193px;
    height: 130px;
    background-color: #f7f7f7;
    text-align: center;
    display: block;
  }

  .benefits-item:nth-child(odd) {
    margin-right: 30px;
  }

  .benefits-item:nth-child(even) {
    margin-top: 30px;
  }

  .benefits-count-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    row-gap: 30px;
    align-items: flex-end;
  }

  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .gallery > .container {
    max-width: 480px;
    width: 100%;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }
 
  .barbers-photos-gallery > .container {
    max-width: 720px;
    width: 100%;
  }
  .barbers-photos-gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .barbers-text {
    margin-bottom: 44px;
  }

  .barbers-item {
    width: calc((100% - 30px) / 2);
  }


  .online > .container {
    max-width: 768px;
    width: 100%;
  }

  .contacts > .container {
    max-width: 769px;
    width: 100%;
  }

  .online {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .online-input {
    width: 330px;
  }

  .contact-booking-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }



  .footer > .container {
    max-width: 768px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 32px;
    padding-left: 32px;
  }

  .footer-social-list {
    gap: 30px;
  }

  .copy-text {
    padding-top: 0}}
     */
