:root {
  --accent-color: #ff6c00;
  --first-text-color: #ffff;
}

body {
  font-family: "Open Sans", sans-serif;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
  margin: 0 auto;
}

/*---HEADER---*/

.header {
  background-color: grey;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-navigation {
}
.header-link {
}
.header-logo {
}
.header-list {
}
.header-item {
}

.header-item-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--first-text-color);
}
.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}
.header-contacts {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--first-text-color);
}
.header-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-text-color);
  cursor: pointer;
}

/*---HERO---*/

.hero {
  background-color: grey;
}
.hero-list {
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.9;
  letter-spacing: 0.05em;
  color: var(--first-text-color);

  margin-bottom: 20px;
}
.hero-aftertitle {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/*---ABOUT---*/
.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #ffffff;
}
.about-list {
}
.about-item {
}
.about-image {
}
.abut-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}
.about-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}
.about-aftertitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-aftertitle-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  cursor: pointer;
}

/*---SECTION PRICES 3---*/
.prices {
  background-color: grey;
  padding-top: 120px;
  padding-bottom: 120px;
}
.prices-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--first-text-color);
  margin-bottom: 44px;
}
.prices-list {
}
.prices-item {
}
.prices-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 44px;
}
.header-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-text-color);
}
/*---SECTION BENEFITS 4---*/

.benefits {
  background-color #FFFFFF;
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits-list {
}
.benefits-item {
}
.count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
}
.count-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-align: center;
  color: #303030;
}
.befenits-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/*---SECTION TEAM 5---*/
.team {
  background-color: #F7F7F7;;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}
.team-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 44px;
}
.team-list {
}
.team-item {
}
.team-images {
  margin-bottom: 30px;
}
.team-member {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}
.team-member-skills {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/*---SECTION TEAM PHOTOS 6---*/
.team-photos {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color:  #FFFFFF;
}
.team-photos-title {
   margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #303030;
 
}
.team-photos-list {
}
.team-photos-item {
}
.team-photos-omages {
}
.team-photos-images {
}
/*---SECTION BOOKING 7---*/
.booking {
  padding-top: 130px;
  padding-bottom: 183px;
  background-color: #191C26;
}
.booking-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--first-text-color);

}
/*---SECTION CONTACTS 8---*/
.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  background-color: #191C26;
}
.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--first-text-color);
  margin-bottom: 40px;
}
.address {
}
.address-list {
}
.address-item {
  margin-bottom: 20px;}

.address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  
}
.phone-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;

}
.email-link {
  margin-bottom: 70px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #9da4bd;

}
.working-hours-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 20px;

}
.working-schedulle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/*---FOOTER---*/

.footer {
 background-color: #F7F7F7;
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
}
.footer-item {
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
