<section class="about">
  <div class="container about-container">
    <div class="about-photos">
      <ul class="about-photos-list">
        <li class="about-photos-item">
          <picture class="about-img">
            <source
              srcset="
                ./img/about/about1-1x-desktop.jpg 1x,
                ./img/about/about1-2x-desktop.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/about/about1-1x-tablet.jpg 1x,
                ./img/about/about1-2x-tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/about/about1-1x-tablet.jpg 1x,"
              alt="About"
              style="max-width: 100%; height: auto"
            />
          </picture>
        </li>
        <li class="about-photos-item">
          <picture class="about-img">
            <source
              srcset="
                ./img/about/about2-1x-desktop.jpg 1x,
                ./img/about/about2-2x-desktop.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/about/about2-1x-tablet.jpg 1x,
                ./img/about/about2-2x-tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/about/about2-1x-tablet.jpg 1x,"
              alt="About"
              style="max-width: 100%; height: auto"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="about-parafraph">
      <p class="about-pretitle">about</p>
      <h2 class="about-title">Best Barbershop in your city</h2>
      <p class="about-aftertitle">
        If you want to add more confidence to your image, you should definitely
        visit us.
      </p>
      <p class="about-text">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
      <button type="button" class="nav-btn about-btn">online-booking</button>
    </div>
  </div>
</section>
