<section class="about" id="about">
  <div class="container">
    <div class="about-wrap">
      <div class="about-photos-wrap">
        <ul class="about-photos-list">
          <li class="about-photos-item">
            <img class="about-photos-img" src="" alt="" />
          </li>
          <li class="about-photos-item">
            <img class="about-photos-img" src="" alt="" />
          </li>
        </ul>
      </div>
      <div class="about-text-wrap">
        <h3 class="about-pretitle">about</h3>
        <h2 class="about-title">Best Barbershop in your city</h2>
        <p class="about-after-title">
          If you want to add more confidence to your image, you should visit us
        </p>
        <p class="about-text">
          We are a team that never stops at what has been achieved and are
          thirsty for changes. And when you fall into the hands of our master,
          you will never be the same again. We are a team that is always "on the
          same wave" with clients. Therefore, we are always ready to improve
          everyone who comes to us!
        </p>

        <button class="btn about-btn" type="button">Online-booking</button>
      </div>
    </div>
  </div>
</section>
