<section class="booking-section">
  <div class="container">
    <div class="booking">
      <h2 class="booking-title">Online-booking</h2>
      <form class="form" name="issue_report_form" autocomplete="off">
        <label class="form-label" for="username">
      <div class="form-wrap">
              <input
                id="username"
                autofocus
                class="form-input"
                type="text"
                name="username"
                placeholder="Name*"
                aria-label="Enter your name"
              />
            </label>
    
            <input
              class="form-input"
              type="tel"
              name="phonenumber"
              placeholder="Phone*"
              aria-label="Enter your phone number"
            />
      </div>

        <label class="form-label">
          <textarea
            autofocus
            class="form-input"
            name="description"
            placeholder="Message"
            rows="5"
          ></textarea>
        </label>
        <div class="send-btn">
          <button class="form-button" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>
