<section class="contacts-section">
  <div class="container">
    <h2 class="booking-contacts-title">Contacts</h2>

    <div class="contacts-tablet-wrap">
      <div class="booking-contacts-wrap">
        <address>
          <a
            target="_blank"
            class="booking-contacts"
            href="https://maps.app.goo.gl/Q9cYgqymoRY8MLpi8"
            ><svg class="booking-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-phone"></use>
            </svg>
            st. Vasilkovaya, 7A Kiev, 08132</a
          >
        </address>

        <a href="tel:+380441111111" class="booking-contacts" target="_blank"
          ><svg class="booking-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-map-pin"></use>
          </svg>
          +380 44 111 111 1</a
        >
        <a
          class="booking-contacts booking-email"
          href="mailto:barbershop@email.com"
          target="_blank"
          ><svg class="booking-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-mail"></use>
          </svg>
          barbershop@email.com</a
        >
      </div>
      <div class="schedulle-wrap">
        <p class="schedulle-contacts-title">Working hours</p>
        <p class="booking-contacts-schedulle">Every day from 9:00 to 22:00</p>
      </div>
    </div>
  </div>
</section>
