<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-soc-media-item">
        <a
          class="footer-soc-media-link"
          href="https://www.instagram.com/"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="footer-soc-media-item">
        <a
          class="footer-soc-media-link"
          href="https://www.youtube.com/"
          target="_blank"
          >Youtube</a
        >
      </li>
    </ul>
    <p class="copyright">
      <span class="copyright-span">&#9400;</span> Copyright 2020
    </p>
  </div>
</footer>
