<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="link logo-link">
        <svg class="logo" width="68.93" height="55.46">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#price">Services and prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Barbers</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="">Contacts</a></li>
      </ul>
    </nav>
    <div class="nav-contacts">
      <button type="button" class="nav-btn">online-booking</button>
      <a href="tel:+380441111111" class="nav-tel">+380 44 111 111 1</a>
    </div>
    <div class="mob-menu">
      <button class="mob-menu-btn" type="button">
        <svg class="mob-menu-btn-style" width="40" height="40">
          <use href="./img/symbol-defs.svg#icon-mob-menu-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
