<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="../index.html" class="link logo-link">
        <svg class="logo" width="68.93" height="55.46">
          <use href="../img/sprite.svg#icon-Logo"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="">About</a></li>
        <li class="nav-item">
          <a class="nav-link" href="">Services and prices</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="">Barbers</a></li>
        <li class="nav-item"><a class="nav-link" href="">Contacts</a></li>
      </ul>
    </nav>
    <div class="nav-contacts">
      <button type="button" class="nav-btn">online-booking</button>
      <a href="tel:+380441111111" class="nav-tel">+380 44 111 111 1</a>
    </div>
  </div>
</header>
