<section class="hero">
  <div class="container hero-container">
    <div class="hero-soc-media">
      <ul class="hero-soc-media-list">
        <li class="hero-soc-media-item">
          <a class="hero-soc-media-link" href="">Instagram</a>
        </li>
        <li class="hero-soc-media-item">
          <a class="hero-soc-media-link" href="">Youtube</a>
        </li>
      </ul>
    </div>
    <div class="hero-wrap">
      <p class="hero-pretitle">A hair salon for men in Kyiv</p>
      <h1 class="hero-title">BarberShop</h1>
      <p class="hero-aftertitle">
        We are experts in trendy men’s haircuts. We work quickly, carefully and
        with style.
      </p>
    </div>
  </div>
</section>
