<section class="photos-library">
  <div class="container">
    <p class="photos-library-pretitle">In Latin, "barba" means "beard"</p>
    <ul class="photos-library-list">
      <li class="photos-library-item">
        <picture class="photos-library-img">
          <source
            srcset="
              ./img/images-library/library1-desktop-1x.png 1x,
              ./img/images-library/library1-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/images-library/library1-tablet-1x.png 1x,
              ./img/images-library/library1-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/images-library/library1-mob-2x.png"
            alt="photo of barber №1"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="photos-library-item">
        <picture class="photos-library-img">
          <source
            srcset="
              ./img/images-library/library2-desktop-1x.png 1x,
              ./img/images-library/library2-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/images-library/library2-tablet-1x.png 1x,
              ./img/images-library/library2-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/images-library/library2-mob-2x.png"
            alt="photo of barber №2"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="photos-library-item">
        <picture class="photos-library-img">
          <source
            srcset="
              ./img/images-library/library3-desktop-1x.png 1x,
              ./img/images-library/library3-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/images-library/library3-tablet-1x.png 1x,
              ./img/images-library/library3-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/images-library/library3-mob-2x.png"
            alt="photo of barber №3"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="photos-library-item">
        <picture class="photos-library-img">
          <source
            srcset="
              ./img/images-library/library4-desktop-1x.png 1x,
              ./img/images-library/library4-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/images-library/library4-tablet-1x.png 1x,
              ./img/images-library/library4-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/images-library/library4-mob-2x.png"
            alt="photo of barber №4"
            width="418"
            height="360"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
