.gallery > .container {
  max-width: 418px;
  width: 100%;
}

.gallery {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: rgba(247, 247, 247, 1);
}

.gallery-pretitle {
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.gallery-pretitle::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.gallery-title {
  margin-bottom: 44px;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: left;
}
.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.gallery-item {
}
.gallery-img {
}
.gallery-soc-media {
  margin-top: 30px;
}
.gallery-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: center;
}
.gallery-barber {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(255, 108, 0, 1);
}
.gallery-soc-media {
}
.gallery-soc-media-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.gallery-soc-media-item {
  width: 44px;
  height: 44px;
}
.gallery-soc-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.barbers-soc-icon {
  fill: rgba(48, 48, 48, 1);
}
.barbers-soc-icon:hover,
.barbers-soc-icon:focus {
  fill: rgba(255, 108, 0, 1);
}
.gallery-item:hover .gallery-top-text {
  transform: translateY(0);
}
.gallery-top-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-top-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;

  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  padding: 40px;
  background-color: rgba(255, 108, 0, 1);
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
