@media screen and (max-width: 768px) {
  .header > .container {
    width: 420px;
    display: flex;
  }

  .nav-list {
    display: none;
  }

  .is-hidden {
    display: none;
  }

  .nav-tel {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .header {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .nav {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  /* MOB MENU */

  .container {
    width: 480px;
  }
  .mob-menu-btn {
    background-color: transparent;
    border: none;
  }

  .mob-menu-btn-logo {
    stroke: white;
  }

  .mobile-menu > .container {
    width: 230px;

    overflow: scroll;
  }
  .mob-menu-btn-logo-close {
    stroke: black;
  }
  .mobile-menu {
    padding-top: 48px;
    padding-bottom: 228px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: white;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 16px;
  }

  .mobile-menu-list {
    margin-bottom: 64px;
    display: block;
  }

  .mobile-menu-item {
    width: 100%;
    height: 100%;
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-item-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: #303030;
  }

  .mobile-menu-item-link:hover,
  .mobile-menu-item-link:focus {
    color: var(--accent-color);
  }
  .mob-menu-btn-logo-clos {
    stroke: black;
  }
  .mob-menu-nav-tel {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.53;
    letter-spacing: 0.1em;
    color: #303030;
  }

  .mob-menu-nav-tel:hover,
  .mob-menu-nav-tel:focus {
    color: var(--accent-color);
  }

  .mob-menu-nav-button {
    padding-right: 37px;
    padding-left: 37px;
    margin-top: 24px;
    color: var(--third-text-color);
  }

  .mob-menu-social-media {
    margin-top: 64px;
    display: flex;
  }

  .mob-menu-social-media-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mob-menu-social-media-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
  }

  .mob-menu-social-media-item:hover,
  .mob-menu-social-media-item:focus {
    color: var(--accent-color);
  }

  .mob-menu-social-media {
    position: relative;
    padding-left: 100px;
  }
  .mob-menu-social-media::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 60px;
    height: 1px;
    background-color: var(--third-text-color);
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header > .container {
    width: 690px;
    display: flex;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }
  .mob-menu-btn {
    display: none;
  }
  .header {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
  }
  .nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    /* align-items: flex-start; */
  }
  .nav-list {
    display: flex;
    gap: 20px;
  }

  .nav-item-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: var(--title-color);
  }

  .nav-item-link:hover,
  .nav-item-link:focus {
    color: var(--accent-color);
  }

  .nav-tel {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: var(--title-color);
  }
  .nav-tel:hover,
  .nav-tel:focus {
    color: var(--accent-color);
  }
  .nav-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0 auto;
    gap: 20px;
  }

  .nav-logo {
    margin-right: 50px;
    width: 67px;
    height: 55px;
  }
}
/* DESCTOPE */
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
  .mob-menu-btn {
    display: none;
  }

  .header > .container {
    width: 1170px;
    display: flex;
    align-items: center;
  }

  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: black;
    /* display: flex; */
  }
  .nav {
    display: flex;
    margin-right: auto;
    align-items: center;
  }
  .nav-item {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: var(--title-color);
  }

  .nav-item:hover,
  .nav-item:focus {
    color: var(--accent-color);
  }

  .nav-tel {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: var(--title-color);
  }
  .nav-tel:hover,
  .nav-tel:focus {
    color: var(--accent-color);
  }
  .nav-row {
    display: flex;
    flex-direction: row;
    margin-right: 0 auto;
    align-items: center;
    gap: 43px;
  }

  .nav-list {
    display: flex;
    gap: 30px;
  }

  .nav-logo {
    margin-right: 130px;
  }
}
