@media screen and (min-width: 480px) and (max-width: 768px) {
  .header > .container {
    width: 420px;
  }

  .nav-list {
    display: none;
  }

  .nav-tel {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .header {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* MOB MENU */

  .mob-menu-btn {
    background-color: transparent;
    border: none;
  }

  .mome-menu-btn-logo {
    stroke: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header > .container {
    width: 690px;
    display: flex;
    align-items: center;
  }

  .header {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
  }
  .nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    /* align-items: flex-start; */
  }
  .nav-list {
    display: flex;
    gap: 20px;
  }

  .nav-item-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: var(--title-color);
  }

  .nav-item-link:hover,
  .nav-item-link:focus {
    color: var(--accent-color);
  }

  .nav-tel {
    display: none;
  }

  .nav-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0 auto;
    gap: 20px;
  }

  .nav-logo {
    margin-right: 50px;
    width: 67px;
    height: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .header > .container {
    width: 953px;
    display: flex;
    align-items: center;
  }

  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: black;
    display: flex;
  }
  .nav {
    display: flex;
    margin-right: auto;
    align-items: center;
  }
  .nav-item {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: var(--title-color);
  }

  .nav-item:hover,
  .nav-item:focus {
    color: var(--accent-color);
  }

  .nav-tel {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: var(--title-color);
  }

  .nav-row {
    display: flex;
    flex-direction: row;
    margin-right: 0 auto;
    align-items: center;
    gap: 43px;
  }

  .nav-list {
    display: flex;
    gap: 30px;
  }

  .nav-logo {
    margin-right: 130px;
  }
}
