/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  --text-color: #555555;
  --accent-color: #ff6c00;
  --title-color: #ffffff;
  --second-text-color: #9da4bd;
  --second-text-color: #303030;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.icon-logo {
  stroke: white;
}

.btn {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.09em;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--title-color);
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  border: 1px solid var(--accent-color);
  color: var(--title-color);
  background-color: var(--accent-color);
}
