/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  --text-color: #555555;
  --accent-color: #ff6c00;
  --title-color: #ffffff;
  --second-text-color: #9da4bd;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.icon-logo {
  stroke: white;
}
